*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 100vh; /*altura del viewport*/
    background-color: #d5c3aa;
}

/*HEADER*/
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 6rem;
}
.logo{
    background-image: url("https://cso.org/globalassets/images-event-bio-banners-1200x300/content_banner_audience_1200x300.jpg");
    height: 22rem;
    background-size: cover;
    
}
.logo h1{
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
    text-align: center;
    position: fixed;
    top: 2rem;
    padding-left: 5rem;
}
.nav-items{
    background-color: #867666;
    text-align: center;
}
nav{
    border-left: none;
    border-right: none;
    display: inline-flex;
    color: #fff;
    list-style: none;
}
.nav-items nav li{
    margin: 1.5rem;
} 
/*LI de family*/
.nav-items .family label #sidebarBtn{
    z-index: 1;
    color: #eae2d6;
    position: absolute;
    cursor: pointer;
    left: 1rem;
    font-size: 4rem;
    margin: -0.5rem 0;
    transition: 0.5s;
    transition-property: color;
}
.nav-items .family label #sidebarBtn:hover{
    color: #e1b80d;
}
#check:checked ~ .navigation{
    /*left: -19rem;*/
    width: 26rem;
}
#check:checked ~ .navigation a .icon .title{
    display: none;
}
#check:checked ~ .navigation a .icon{
    font-size: 4rem;
    margin-left: 0rem;
    /*width: 8rem;*/
}

/*LI buscar*/
nav .search{
    position: relative;
    display: flex;
    height: 3rem;
    width: 60rem;
    line-height: 3;
    overflow: hidden;
}
nav .search input{
    appearance: none;
    outline: 0; /*contorno de un elemento*/
    box-shadow: none;
    border: 0!important;
    border-radius: 0.5rem;
    background: #eae2d6;
    background-image: none;
    font-size: 1.8rem;
    flex: 1;
    padding: 0.9rem 1rem 0.9rem 7.2rem;
    color:#867666;
    cursor: text;
}
nav .search input:focus-within{
    background: #fff;
}
nav .btn{
    background-color: #e1b80d;
    cursor: pointer;
    width: 6rem;
    position: absolute;
    margin-left: 54rem;
    border-radius: 0.5rem;
}
nav .btn i{
    text-decoration: none;
    color: #eae2d6;
    font-size: 1.6rem;
}    
/*LI select */
nav .filtro-clave select{
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #eae2d6;
    background-image: none;
    font-size: 1.8rem;
    flex: 1;
    padding: 0 0.5rem;
    color:#867666;
    cursor: pointer;
}
nav .filtro-clave select::-ms-expand{
    display: none;
}
nav .filtro-clave{
    position: relative;
    display: flex;
    height: 3rem;
    width: 20rem;
    left: 10rem;
    line-height: 3;
    overflow: hidden;
    border-radius: 0.5rem;
} 
nav .filtro-clave::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em;
    background: #e1b80d;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
nav .filtro-clave:hover::after{
    color: #e1b80d;
}

/*---------------Navegador Lateral-------------------------*/
.navigation {
    position: fixed;
    width: 6rem;
    height: 100%;
    top: 6rem;
    background-color: #867666;
    transition: 0.5s;
    transition-property: width;
    overflow: hidden;
}
/*.navigation:hover,
.navigation:active{
    width: 30rem;
}*/
.navigation ul{
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #e1b80d;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 6rem;
    height: 6rem;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
}
.navigation ul li a .icon .fa{
    font-size: 4rem;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    font-size: 2rem;
    padding: 0 1rem;
    height: 6rem;
    line-height: 6rem;
    text-align: start;
    white-space: nowrap;
}
/*------------------------MAIN----------------------------*/
/*Section Home*/
.home{
    margin-left: 25rem;
    background: url("./image/orquesta.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .home{
    margin-left: 6rem;
}
#check{ /*desaparece el check que está antes del header*/
    display: none;
}
/*Cuadrícula de instrumentos*/
.item{
    background-color: #eae2d6;
    margin-left: 25rem;
    margin-right: 21rem;
    height: 100vh;
}
.item .text{
    text-align: center;
    font-size: 4rem;
    color: #867666;
}
.item .div-galery{
    display: inline-grid;
    position: inherit;
    padding: 2rem;
}
.item .div-galery .image-mini{
    border-radius: 2rem;
    margin-left: 3rem;
    width: 180px;
    height: 180px;
}
.item .div-galery .image-mini:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.item .name-instrument{
    text-align: center;
    font-size: 1.8rem;
}
/*ficha de instrumento*/
.modalInstrument{
    background-color: blueviolet;
    display: flex;
    margin-left: 25rem;
    margin-right: 21rem;
    height: 100vh;
}
.modalInstrument a{
    align-items: center;
    color: #fff;
}
.modalInstrument .div-derecha{
    background-color: #e1b80d;
    width: 50%;
    height: 100%;
}
.modalInstrument .div-derecha .imgInstrument{
    margin-left: 5rem;
    border-radius: 1rem;
}
.modalInstrument .div-derecha audio{
    margin-top: 3rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}
.modalInstrument .div-derecha .img-position img{
    margin-left: 8rem;
}
.modalInstrument .div-derecha .img-position .text{
    font-size: 1.4rem;
    margin-left: 5rem
}

.modalInstrument .div-izquierda{
    background-color: greenyellow;
    width: 50%;
    height: 100%;
}
.modalInstrument .div-izquierda .titulo{
    position: fixed;
    top: 12rem;
    justify-content: center;
    align-items: center;
}
.modalInstrument .div-izquierda .titulo .title{
    font-size: 4rem;
}
.modalInstrument .div-izquierda .titulo .text{
    font-size: 1.8rem;
}
.modalInstrument .div-izquierda .datos{
    position: fixed;
    top: 18rem;
    justify-content: center;
    align-items: center;
    right: 25rem;
    left: 70rem; 
}
.modalInstrument .div-izquierda .datos .text{
    font-size: 1.8rem;
}


/*FOOTER*/
footer{
    background-color: darkblue;
}